{% extends "base.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Courses stats</h1>
               
                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-xl-10 col-lg-7">

                    
                                <canvas id="barChart"></canvas>
                    
                        </div>

                    </div>

                </div>
                <script>
                    var xValues = ["Math", "Programming", "English", "Lorem", "Ipsum"];
                    var yValues = [55, 49, 44, 24, 15];
                    var barColors = [
                    "rgba(0,0,255,1.0)",
                    "rgba(0,0,255,0.8)",
                    "rgba(0,0,255,0.6)",
                    "rgba(0,0,255,0.4)",
                    "rgba(0,0,255,0.2)",
                    ];                    
                    new Chart("barChart", {
                      type: "bar",
                      data: {
                        labels: xValues,
                        datasets: [{
                          backgroundColor: barColors,
                          data: yValues
                        }]
                      },
                      options: {
                        legend: {display: false},
                        title: {
                          display: true,
                          text: "Courses average study time"
                        }
                      }
                    });
                    </script>
                <!-- /.container-fluid -->

{% endblock %}