.al-right{
    text-align:right;
}
.al-left{
    text-align:left;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align:center;
}
