.al-right{
    text-align:right;
}
.al-left{
    text-align:left;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align:center;
}
.rating-color {
    color: #fbc634 !important;
}
.no-color {
    color: rgba(0,0,0,0);
}